asgiref==3.11.1
colorama==0.4.6
Django==5.0.4
django-axes==6.4.0
django-cors-headers==4.3.1
django-csp==4.0
gunicorn==26.0.0
packaging==26.2
pillow==10.4.0
PyMySQL==1.1.0
pyotp==2.9.0
pypng==0.20220715.0
python-dotenv==1.0.1
qrcode==7.4.2
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
