asgiref==3.11.1
cffi==2.0.0
colorama==0.4.6
cryptography==48.0.0
Django==6.0.4
django-axes==8.3.1
django-cors-headers==4.9.0
djangorestframework==3.17.1
gunicorn==26.0.0
mysqlclient==2.2.8
packaging==26.1
pillow==12.2.0
pycparser==3.0
PyMySQL==1.1.2
pyotp==2.9.0
qrcode==8.2
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2026.1
wheel==0.47.0
whitenoise==6.12.0
